<%= form_for(:message, url: user_messages_path, id: "chat_show_id") do |f| %>
  <div class="field field-background">
    <%=f.text_area :content %>
  </div>
  <%= f.submit "Send", class: "submit black-border-text popup-send", id: "send-button" %>
<%end%>
