<div class="message-container">
  <div class="message-user tooltip">
      <%= link_to image_tag(message.user.avatar.url(:smallerthumb), class: "message-avatar"), user_path(message.user.id) %>
      <span class="tooltiptext"><%= message.user.username %></span>
  </div>
  <div class="message">
    <div class="message-content black-border-text">
       <%= message.content %>
    </div>
  </div>
</div>

<%= javascript_include_tag "edit_message.js" %>
