<%= form_for(:message, url: user_messages_path) do |f| %>
  <div class="field">
    <%=f.text_area :content, placeholder: "Send new message..", cols: "80", rows: "10" %>
  </div>
  <%= f.submit "Send message", class: "submit" %>
<%end%>
