<%= link_to chat_room_path(chat) do %>
<div class="chat-name-container">
  <div class="chat-name">
    <%= chat.name %>
    <% if num_unread > 0 %>
      <%= " - #{num_unread}" %>
    <%end%>
  </div>
</div>
<% end %>
