<%= form_for(:message, url: chat_room_message_url(@chat_room), method: 'post') do |f| %>
<div class="field">
  <%=f.text_area :content, placeholder: "Send new message.." %>
</div>

<div class="action">
    <%= f.submit "Send", class: "submit" %>
</div>
<% end %>
