<div class="chat-dashboard-container">
  <div class="chatroom-container primary-column">
    <div class="page-label white-border-text" id="active-chatroom-header">
      <%= @chat_room.name %>
    </div>
    <div class="active-chatroom">
      <%= render 'messages/messages' %>
      <%= render 'message_form' %>
    </div>
  </div>

  <div class="active-chat-sidebar secondary-column">
    <%= render partial: "chat", collection: @chat_rooms, as: :chat %>
  </div>

  <div class="tertiary-column">
    <!-- users in the chats and their online status-->
  </div>
</div>
