<div class="page-label" id="results-label">Search Results</div>
<br>
<!--Happens if the search results come up empty or no valid users are in the results -->
<% if @users.count == 0 || !@has_valid %>
  <div class="search-apology">There are no users that match your preferences.</div>
<% else %>
  <div class="container-fluid parchment-background">
    <%= render @users %>
  </div>
<% end %>
