<h1>Search Results</h1>

<p>Hooray, you submitted something!</p>

<p>Expect full functionality soon!</p>

<tbody>
  <%#= @players.each do |player_profile| %>
    <tr>
      <td><%#= player_profile.bio %></td>
        <td><%#= player_profile.exp_level %></td>
        <td><%#= player_profile.ruleset1 %></td>
        <td><%#= player_profile.ruleset2 %></td>
        <td><%#= player_profile.ruleset3 %></td>
        <td><%#= player_profile.ruleset4 %></td>
    <%# end %>
    </tr>
</tbody>
