<h1>Search Results</h1>
<br>
<!--Happens if the search results come up empty or no valid users are in the results -->
<% if @users.count == 0 || !@has_valid %>
  <p>There are no users that match your given preferences.</p>
<% else %>
  <div class="container-fluid parchment-background">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
<% end %>
