<h1>Search Results</h1>
<br>
<!--Happens if the search results come up empty -->
<% if @users.count == 0 %>
  <p>There are no users that match your given preferences.</p>
<% else %>
  <div class="container-fluid">
    <%= render @users %>
  </div>
<% end %>
