<div class="preview recommend-profile-preview facebook-preview">
  <div class="avatar-container">
    <%= image_tag user.avatar.url(:thumb), class: "dashboard-avatar" %>
  </div>
  <div class="preview-name">
    <%= user.username %>
  </div>
  <%= link_to user_blocking_path(current_user.id, user.id), method: :delete do %>
    <div class="profile-button signup-login-submit facebook-friends-button">
      Unblock
    </div>
  <% end %>
</div>
