<div class="preview recommend-profile-preview friends-preview">
  <div class="avatar-container">
    <%= image_tag user.avatar.url(:thumb), class: "dashboard-avatar" %>
  </div>
  <div class="preview-name">
    <%= user.username %>
  </div>
  <div class="hidden">
    <%= check_box_tag "users[#{user.id}]" %>
  </div>
</div>

<%= javascript_include_tag 'chat.js' %>
