<div class="facebook-container parchment-background">
  <div class="page-label" id="fb-label">Users from Facebook</div>
  <%= render partial: "facebook_friends_preview", collection: @friends, as: :user %>
</div>
