<div class='signup-container'>
  <div class="page-label white-border-text" id="signup-page-label">New User</div>

  <div class="login-reminder">Already have an account? <%= link_to "Log In", login_path, class: "black-border-text" %></div>

  <div class="signup-form-container container-fluid">
    <%= render 'form', user: @user %>
  </div>

</div>
