<div class="parchment-background">
  <br><br><br>
  <div id= "account-settings" class="signup-container">
    <div class="signup-form-container">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
