<h1>About Us</h1>
<br>
<h2>The Developers</h2>
<p>Dicer is a web application originally created by four students at Brandeis University for a software engineering course.
  Since then, nothing has happened because we're still not done with the course, but I'm sure we'll get to change this page in the future.</p>
<br>
<h2>Why Dungeons and Dragons?</h2>
<p>Dungeons and Dragons was a beloved hobby of one of the members of the development team. However, he had trouble finding people to play with and felt that
  there were no good platforms for group creation and meetup within the game. Around the time of Dicer's inception, Tinder, Grindr, and other social meetup apps were taking off.
  In an attempt to fill the niche that he thought was there, Dicer was born, centered around DnD.</p>
<br>
<h2>Do you have any plans for the future of Dicer?</h2>
<p>Dicer will (hopefully) be under constant development. In the future, we hope implement a mobile service for Dicer, and potentially expand the platform to provide a meetup platform for other board/tabletop games besides Dungeons and Dragons.
If you have any suggestions, comments, criticisms, or ideas for the future of Dicer, please email us at admin@dicer.com!</p>
