<div>
<h1>Contact Us</h1>
<p>Contact the administrators of the website at admin@dicer.com (or something, it'd be cool if we could do that).
We don't have a PO box yet, nor do we ever plan to get one.</p>
</div>
