<div class="home-page-background contact-container">
  <div class="page-label black-border-text" id="home-page-header">Contact Us</div>

  <div class="home-page-text">
    Contact the administrators of the website at dicerdevs@gmail.com. We are happy to receive feedback your feedback and hope to make Dicer a great tool for the entire community. 
  </div>
</div>
