<h1>Welcome to Dicer</h1>
<br>
<h2>Our Mission</h2>
<p class="home_text_block">Dicer is a web-based meetup app designed to facilitate connections between people who want to play Dungeons and Dragons together.
  We want to help bring together the existing community of DnD enthusiasts and inspire a new generation of DnD players by providing a simple-to-use platform to create roleplaying groups.
  Jesus christ, I don't know how to write mission statements. Someone edit me.
</p>
<br>
<!--<h1>Sign Up Here! (link to sign up page when created)</h1>-->
<%= link_to "Sign Up Here!", signup_path %>
<br>
<h2>Screenshots</h2>
<p>link to screenshots here<p>
<br>
