<h1>Welcome to Dicer</h1>
<br>
<h2>Our Mission</h2>
<p class="home_text_block">Dicer is a web-based app designed to facilitate connections between people who want to play Dungeons and Dragons together.
Our goal is to make it so that all it takes to start up a game session is a few quick profile searches, a few minutes of chatting online and
simply finding each other in real life to meet up, or even online, if that's your thing. Spend less time looking around for that perfect player or DM.
Spend more time tackling the world you've created.</p>
<br>
<!--<h1>Sign Up Here! (link to sign up page when created)</h1>-->
<%= link_to "Sign Up Here!", signup_path %>
<br>
<h2>Screenshots</h2>
<p>link to screenshots here<p>
<br>
