<div class="content">
<h1>Welcome to Dicer</h1>
<br>
<!--h2 header is too big, so I needed to switch to h3 >Cameron -->
<h3>Spend less time looking around for that perfect player or DM.
Spend more time tackling the world you've created.</h3>
<br>
<!--<h1>Sign Up Here! (link to sign up page when created)</h1>-->
<%= link_to "Sign Up Here!", signup_path %>
<br>
<h2>Screenshots</h2>
<p>link to screenshots here<p>
<br>
</div>
