<script>
$('#carouselExampleControls').carousel();
</script>

<div class="home-page-container">
    <div class="start">
      Welcome to
    </div>
    <div class="main-text">
      <%= image_tag "iteration4.png", height: '200', width: '700' %>
    </div>

    <div class="hook">
        Spend less time looking around for that perfect player or DM<br>
        Spend more time playing DnD
    </div>

    <div class="main-signup-button-container">
      <%= link_to "Sign Up Here!", signup_path, class: "main-signup-button" %>
    </div>
</div>
