<div class="home-page-background">
  <div class="page-label black-border-text" id="home-page-header">FAQ</div>

  <div class="home-page-label">What's "Dungeons and Dragons" or "DnD"?</div>
  <div class="home-page-text">
    Dungeons and Dragons is a tabletop roleplaying game originally developed by Gary Gygax and Dave Arneson, though it has since been acquired by Wizards of the Coast. Gameplay is driven by a person known as the "Dungeon Master" (or DM for short)
    who guides a group of people (the player characters) through some fantasy scenario. Players must navigate obstacles and defeat enemies through their roleplay to complete quests
    or "campaigns" together and progress their characters through the world.
  </div>

  <div class="home-page-label" id="ruleset-list-start">What are the different editions of DnD, and what are they like?</div>

  <div class="home-page-label home-page-sublabel">Original</div>
  <div class="home-page-text">
    The Original edition of Dungeons and Dragons was released in 1974 by Gary Gygax and David Arneson. It contained the barebones of the
    features that Dungeons and Dragons is commonly known for - three classes: a fighter, mage, and cleric; and four races: humans, dwarves,
    elves, and halflings (originally hobbits, but renamed due to legal issues). This version was at first dependent on the use of miniatures
    and rulesets from another game known as Chainmail. Later on, rulebooks were published so that this was not the case. The combat system of Dungeons and Dragons and the classic
    roleplaying and rolling mecahnics originated here!
  </div>

  <div class="home-page-label home-page-sublabel">Advanced</div>
  <div class="home-page-text">
    The Advanced edition of Dungeons and Dragons was released between 1977 and 1979 and codified in three rulebooks: Monster Manual, Player's
    Handbook, and Dungeon Master's guide. This edition introduced many other classes to the game, including thiefs, assassins, druids, monks,
    and others. Advanced Dungeons and Dragons 2nd Edition was released about a decade later, reorganizing class structure and removing a lot of
    questionable-at-the-time elements like demons and devils, and stressed the idea of heroic characters. The combat system was also simplified
    to a convention that is still (mostly) the standard for DnD.
  </div>

  <div class="home-page-label home-page-sublabel">3rd Edition</div>
  <div class="home-page-text">
    3rd Edition was initially released in 2000 as a revision of the Advanced ruleset,  and it once again added new classes and character features.
    Player characters were allowed greater customizability in their classes and weapons and "prestige classes" were implemented for characters
    to work towards. Most of the rolling system in the game was re-standardized to be all about the d20 - (almost) every action in the game
    was now determined by a roll of a 20-sided dice and certain bonuses given by character traits. By this time, DnD play was not dependent on
    miniatures - though many people often used them to enhance the game experience. The mechanics introduced in 3rd edition allowed players
    to create their own versions and spin-offs of Dungeons and Dragons, including the popular Pathfinder.
  </div>

  <div class="home-page-label home-page-sublabel">3.5</div>
  <div class="home-page-text">
    Dungeons and Dragons 3.5 edition was a small update to the 3rd edition, which boils down to a few tweaks to spells, monsters, and
    feats. Almost everything that comes from 3rd edition is compatible with 3.5. Most Dungeons and Dragons original campaigns and
    spin-offs were created using the base of DnD 3.5.
  </div>

  <div class="home-page-label home-page-sublabel">4th Edition</div>
  <div class="home-page-text">
    The 4th Edition of Dungeons and Dragons introduced some pretty significant changes to DnD mechanics. Classes that previously had certain bonuses
    to growth or stat bonuses based on level were now flattened and standardized giving most classes a more even player field. Most classes in the game
    were given "powers" in this edition, abilities that could be used at-will to influence the playing field and combat especially. Unfortunately,
    this meant that play nearly required the use of a grid-style game board and miniatures, similar to the original DnD.
  </div>

  <div class="home-page-label home-page-sublabel">5th Edition</div>
  <div class="home-page-text">
    Dungeons and Dragons 5th edition is the most recent release of the Dungeons and Dragons ruleset released in 2014. A Basic Rules
    PDF is publicly available from Wizards of the Coast to jump-start play, and the "Starter Set" was also released under DnD 5, providing
    players with pre-rolled characters, basic rules, and a pre-made adventure module to play with. In contrast with 4th edition, skills
    took a backseat to the main abilities. Feats were also reworked to be more optional than they were in previous editions. The power
    system introduced in 4th edition was also removed in favor of a more streamlined combat system, and spells were reverted (with some minor changes)
    to the systems used in v3 and v3.5.
  </div>

  <div class="home-page-label">Okay, but what about Pathfinder and "homebrew"?</div>

  <div class="home-page-label home-page-sublabel">Pathfinder</div>
  <div class="home-page-text">
    Pathfinder was a game released as sort of an expansion to v3 and v3.5 of Dungeons and Dragons. Sometimes called "v3.75", Pathfinder
    expanded on the rules and mechanics of version 3 with some slight changes to mechanics like skills and spells. Pathfinder was released
    under the Open Games License like the editions it was based off of, rather than the more restrictive game licensing that DnD 4 and 5
    are published under. Pathfinder is still being updated and developed today, including an online version, Pathfinder Online, and has
    an expansive playerbase.
  </div>

  <div class="home-page-label home-page-sublabel">Homebrew</div>
  <div class="home-page-text">
    Homebrew is an umbrella term used to signify content created by the players of the game and not its publishers. Playing a Homebrew
    campaign means playing a campaign that's not a module released by Wizards of the Coast, and calling your version "homebrew" can mean
    anything from "we made some slight changes to 3.5 so that new players could ease into it more comfortably" to "roleplaying with friends,
    but with some dice-rolling and combat thrown in the middle". Since the gameplay of Dungeons and Dragons revolves around the imagination
    of its players, it's no surprise that they would go off to develop their own fantasy worlds to play in, and even their own rulesets to play with.
    In general, a "homebrew" ruleset will mean that you don't play strictly by-the-books, and a "homebrew" campaign means "I made up this world/quest/adventure
    for you to play, come play!"
  </div>
</div>
