<h1>Resources</h1>
<br><br>
<h2>FAQ</h2>
<br>
<h1>What's 'Dungeons and Dragons' or 'DnD'?</h1>
<p class="home_text_block">
  <br>
  Dungeons and Dragons is a tabletop roleplaying game originally developed by Wizards of the Coast. Gameplay is driven by a person known as the "Dungeon Master" (or DM for short)
  who guides a group of people (the player characters) through some fantasy scenario. Players must navigate obstacles and defeat enemies through their roleplay to complete quests
  or "campaigns" together and progress their characters through the world.
  <br><br>
</p>
