<h1>Editing Character Sheet</h1>

<%= render 'form', character_sheet: @character_sheet %>

<%= link_to 'Show', user_player_profiles_character_sheet_path(@user, @character_sheet) %> |
<%= link_to 'Back', user_player_profiles_character_sheets_path %>
