jQuery(document).on 'turbolinks:load', ->
  messages = $('#messages')
  if $('#messages').length > 0
    console.log "stuff"
    console.log messages
    console.log messages.data('chat-room-id')
    App.global_chat = App.cable.subscriptions.create {
        channel: "ChatRoomChannel"
        chat_room_id: messages.data('chat-room-id')
      },
      connected: ->
        # Called when the subscription is ready for use on the server

      disconnected: ->
        # Called when the subscription has been terminated by the server

      received: (data) ->
        unless data.content.blank?
          $('#messages-table').append(render_message data)
          scroll_bottom()

$(document).on 'turbolinks:load', ->
  submit_message()
  scroll_bottom()

submit_message = () ->
  $('#message_content').on 'keydown', (event) ->
    if event.keyCode is 13
      $(document.getElementById('send-button')).click()
      $('#send-button').click()
      event.target.value = ""
      event.preventDefault() #what is the default?

scroll_bottom = () ->
  $('#messages').scrollTop($('#messages')[0].scrollHeight)

render_message = (data) ->
  avatar_html = "<div class='message-user'>\n<img class='message-avatar' src=" + data.avatar_path + "/>\n</div>\n"
  message_html = "<div class='message'>\n<div class='message-content black-border-text'>\n" + data.content + "\n</div>\n</div>\n"
  shell_html = "\n<div class='message-container'>\n"
  return shell_html + avatar_html + message_html + "</div>\n"
      #send_message: (message, chat_room_id) ->
      #  @perform 'send_message', message: message, chat_room_id: chat_room_id

#    $('#new_message').submit (e) ->
#      <%= puts "applesauce" %>
#      $this = $(this)
#      textarea = $this.find('#message_body')
#      if $.trim(textarea.val()).length > 1
#        App.global_chat.send_message textarea.val(), messages.data('chat-room-id')
#        textarea.val('')
#      e.preventDefault()
#      return false
