jQuery(document).on 'turbolinks:load', ->
  messages = $('#messages')
  if $('#messages').length > 0

    App.global_chat = App.cable.subscriptions.create {
        channel: "ChatRoomChannel"
        chat_room_id: messages.data('chat-room-id')
      },
      connected: ->
        # Called when the subscription is ready for use on the server

      disconnected: ->
        # Called when the subscription has been terminated by the server

      received: (data) ->
        # messages.append data['message']
        unless data.content.blank?
          $('#messages-table').append '<div class="message">' +
            '<div class="message-user">' + data.username + ":" + '</div>' +
            '<div class="message-content">' + data.content + '</div>' + '</div>'
          scroll_bottom()

$(document).on 'turbolinks:load', ->
  submit_message()
  scroll_bottom()

submit_message = () ->
  $('#message_content').on 'keydown', (event) ->
    if event.keyCode is 13
      $('input').click()
      event.target.value = ""
      event.preventDefault()

scroll_bottom = () ->
  $('#messages').scrollTop($('#messages')[0].scrollHeight)


      #send_message: (message, chat_room_id) ->
      #  @perform 'send_message', message: message, chat_room_id: chat_room_id

#    $('#new_message').submit (e) ->
#      <%= puts "applesauce" %>
#      $this = $(this)
#      textarea = $this.find('#message_body')
#      if $.trim(textarea.val()).length > 1
#        App.global_chat.send_message textarea.val(), messages.data('chat-room-id')
#        textarea.val('')
#      e.preventDefault()
#      return false
