/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     margin:20px;
 }
.header {
   padding: 1rem;
   width:0px auto;
   margin:0px auto;
   position:fixed;
   right: 0;
   top: 0;
   left: 0;
   background-color:rgb(205,0,25);
 }
 .content {
     width:0px auto;
     border: 1px solid #CCC;
     height: 0px auto;
     margin: 70px auto;
 }
 .footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: rgb(205,0,25);
 }
 .left-align{
   float: left;
 }
 .right-align{
   float: right;
 }
