

/*color scheme 1*/

$dark_red_1: #7B0828;
$light_red_1: #DA4167;
$purple_1: #3D2643;
$light_blue_1: #8DAA9D;
$white_1: #FBF5F3;


/* color scheme 2 */

$red_2: #C2132B;
$dark_red_2: #7A0C1B;
$dark_grey_2: #595959;
$mid_grey_2: #7F7F7F;
$light_grey_2: #A5A5A5;

@font-face {
  font-family: 'Dungeon'; // FREE
  src: font-url('DUNGRG__.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Endor'; // FREE
  src: font-url('ENDOR__.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Immortal'; // FREE
  src:font-url('IMMORTAL.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Half-Elven-3D'; // NOT FREE FOR COMMERCIAL
  src:font-url('halfelven3d.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Half-Elven'; // NOT FREE FOR COMMERCIAL
  src:font-url('halfelven.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Antique Quest St'; // NOT FREE FOR COMMERCIAL
  src:font-url('AntiqueQuestSt.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Hultog'; // FREE
  src:font-url('Hultog.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Hultog';
  src:font-url('HultogItalic.ttf');
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family: 'Breathe Fire'; // NOT FREE FOR COMMERCIAL
  src:font-url('BreatheFire.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Party Business'; // FREE
  src:font-url('partybusiness.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Devinne Swash'; // FREE
  src:font-url('DevinneSwash.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Wizard of the Moon'; // NOT FREE FOR COMMERCIAL
  src:font-url('WizardOfTheMoon.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Mysticora'; // NOT FREE FOR COMMERCIAL
  src:font-url('DS_Mysticora.ttf');
  font-weight:normal;
  font-style:normal;
}

.titanic{
  float:none;
}

html{
  margin: 0px;
  padding:0px;
  height: 100vh;
}
body {
  margin: 0px !important;
  padding: 0px;
  min-height: 658px;
  min-width: 1350px;
  background-image: url('/assets/woodbackground1scale.png');
}

textarea{
  resize: none;
}

.header {
  width:0px auto;
  margin:0px auto;
  position:fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10000;
  background-image: url('/assets/headerattempt2.png');
  background-size: contain;
}
.content {
  width:0px auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  height: 0px auto;
  margin: 70px auto;
}

.left-align{
  float: left;
}
.right-align{
  float: right;
}

.header-link{
  color: black;
  height: 31px;
  padding: 6px;
  font-family: 'Hultog';
  font-size: 2em;
  text-align: center;
  border-left: 1px solid rgb(200,165,45);
  border-right: 1px solid rgb(200,165,45);
  border-top: none;
  border-bottom: none;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
  line-height: 26px;
}

.white-border-text {
  text-shadow: -1px 0px 0px rgba(255, 255, 255, 1),
               1px 0px 0px rgba(255, 255, 255, 1),
               0px 1px 0px rgba(255, 255, 255, 1),
               0px -1px 0px rgba(255, 255, 255, 1);
}

.black-border-text {
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 1),
               1px 0px 0px rgba(0, 0, 0, 1),
               0px 1px 0px rgba(0, 0, 0, 1),
               0px -1px 0px rgba(0, 0, 0, 1);
}


.header-link:hover, .header-link:active {
   color: $dark_red_2;
   //box-shadow: 2px 2px 2px $mid_grey_2;
   text-shadow: 2px 2px 10px rgb(150,150,150);
   text-decoration: none;
}

table, td, th {
  border-bottom: 1px solid #CCC;
  text-align: center;
}
th{
  background-color: $red_2;
  color:white;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  overflow:hidden;
  padding: 10px;
  height:30px;
  width: 50px;
}
tr:hover {
  background-color: $light_grey_2
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 150px;
    min-width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    font-size: 1em;
    font-family: 'Dungeon';
    overflow-wrap: break-word;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


input[type=text], input[type=password], input[type^=email] {
    //width: 100%
    border: 2px solid $light_grey_2;
    border-radius:5px;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type^=email]:focus{
    border: 2px solid $red_2;
}

select {
    width: auto;
    padding: 1px 5px;
    border: 2px solid $dark_grey_2;
    border-radius: 5px;
    background-color: $light_grey_2;
}

input[type=button], input[type=reset] {
  background-color: $red_2;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border: none;
  text-decoration: none;
  //margin: 4px 2px;
  cursor: pointer;
}


//* {
  //border-sizing:border-box;

a:link.outside, a:visited.outside {
    background: none;
    color: blue;
    padding: 0px;
    border-bottom: 1px dotted blue;
    //text-align: center;
    text-decoration: none;
    display: inline !important;
}
a:hover.outside, a:active.outside {
    border-bottom: 1px solid blue;
}

#notice{
  font-size:3em;
  color: rgb(204,0,0) !important;
  font-family: 'Mysticora';
  margin-top: 40px;
  text-align: center;
  background-image: url('parchmentbackground5');
  line-height: 60px;
  margin-left: 25vw;
  margin-right: 25vw;
}

.home-page-container{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  //background-color:rgb(215,215,215);
  //background-image: url('/assets/parchment1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main-text{
  font-family: 'Dungeon';
  text-align:center;
  font-size:15em;
  color: rgb(100,0,0);
  font-weight:bolder;
  text-shadow: 2px 3px 1px rgb(10,10,10);
  padding: 40px;
  padding-top:20px;
  line-height:60px;
  color:white;
}

.hook{
  text-align:center;
  font-family: 'Hultog';
  font-size:3.5em;
  color: black;
  text-shadow: 1px 3px 1px rgb(10,10,10);
  line-height:35px;
  color:white;
}

.screenshots{

}

.start{
  font-family: 'Immortal';
  font-size:4em;
  color:black;
  padding-top:60px;
  padding-bottom:15px;
  line-height:40px;
  text-align:center;
  text-shadow: 2px 3px 1px rgb(10,10,10);
  color:white;
}

.main-signup-button{
  font-family: 'Immortal';
  display:block;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:35%;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white !important;
  border: 50px solid transparent;
  transition: 0.2s;
  text-decoration:none !important;
  font-size: 2.5em;
  border-image: url('/assets/borderfloralceltic2') 200 190 200 190 round;
  background-color: rgba(100,0,0,0.5);
  text-shadow: 2px 2px 1px rgba(10, 10, 10, 1);
}

.main-signup-button:hover{
  background-color: rgba(150,0,0,0.8);
  border-color: white;
  //background: rgba(100,0,0,1);
  //background: radial-gradient(ellipse at center, rgba(100,0,0,1) 0%, rgba(119,113,113,0.38) 38%, rgba(240,190,184,0.63) 63%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white !important;
  box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
}

.main-signup-button-container{

}

#myCarousel{
  display:block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.carousel-inner img {
  margin: 0 auto;
}

.page-label{
  font-family: 'Dungeon';
  font-size: 9em;
  color: rgb(110,0,0);
  line-height: 70px;
}
/* CSS for Sending a Message */
.modall {
    display: none;
    background-image: url('parchmentbackground5');
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 800px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    .close {
      color: black;
      float: right;
      font-weight: bold;
      font-size: 28px;
    }
    .close:hover,
    .close:focus {
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
    .greeting {
      margin: auto;
    }
    .submit {
      float: right;
    }
}

.msgform {
    font-size: 12px;
    background-color: white;
    margin: none; /* 15% from the top and centered */
    padding: 0;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.greeting{
  font-family: 'Dungeon';
  font-size: 3em;
  line-height: 40px;
}

.contact-popup-container{
  padding: 5px 10px;
}

.popup-send{
  margin-top: -60px;
  z-index: 1;
}

.dummy {
  margin-top: 60px;
  background-image: url('parchmentbackground5');
  color: black;
}

//Anne's bullshit CSS
.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
  float: right;
  margin: 0px 5px 0px 5px;
}

.hidden {
  display: none !important;
}
