// Place all the styles related to the SearchPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-mod {
  margin-top: 3vw !important;
  margin-left: 25vw !important;
  font-family: "Hultog";
  position: absolute;
  z-index: 1;
  transition: 0.2s;
}

.search-param {
  font-family: "Hulthog";
  font-size: 21px;
  font-weight: bold;
}

.search-text {
  font-family: "Hulthog";
}

.close {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 1px;
  margin-left: 45vw !important;
  font-size: 40px;
  color: red;
}

.close:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#search_modal {
  display: none;
}

#search {
  background: none;
  border: none;
  font-family: "Hultog";
  font-size: 23px;
}
