// Place all the styles related to the SearchPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-mod {
  margin-top: 3vw !important;
  margin-left: 23vw !important;
  font-family: "Hultog";
  position: absolute;
  z-index: 1;
  transition: 0.2s;
}

.search-results-mod{
  margin-top: 3vw !important;
  font-family: "Hultog";
}

.search-results-mod label{
  display: inline-block;
}

.search-param {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 24px;
  text-align: center;
}

.close {
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 7px;
  margin-left: 45vw !important;
  font-size: 40px;
  color: red;
}

.close:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#search_modal {
  display: none;
}

#search {
  background: none;
  border: none;
}

#search-label{
  padding-top: 10px;
  text-align: center;
}

.dropdown{
  text-align: center;
  font-size: 1.15em;
}

.radio-buttons-container{
  padding-left:10px;
}

.radio-buttons-container-results{
  margin-left: 33px;
}

.radio-button-label{
  display: inline-block;
}

#profile-type{
  padding-left: 100px;
}

#any-all{
  padding-left: 30px;
}

#any-all-results{
  padding-left: 90px;
}

#exp-picker{
  padding-left: 95px;
}

#ruleset-picker{
  padding-left: 70px;
}

#online-play{
  padding-left: 80px;
}

#online-play-results{
  padding-right: 135px;
}

#campaign-types{
  margin-left: -40px;
}

.search-mod label{
  display: inline-block;
}

.ruleset-checkbox{
  padding-left: 10px;
}

.search-row{
  margin-bottom: 20px;
}

#exp{
  padding-left: 45px;
}

#ruleset{
  margin-left: -70px;
}

#search-pref{
  margin-left: -85px;
}

.checkboxes-container{
  margin-left: 27px;
  width: 96%;
}

#search-submit{
  display: block;
  margin: 0 auto;
  width: 30%;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 4.5em;
  line-height: 40px;
}

#results-label{
  text-align:center;
  margin-top: 60px;
}

#results-search{
  display: block !important;
}

#search-submit-results{
  display: block;
  margin: 0 auto;
  width: 15%;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 4.5em;
  line-height: 40px;
}

.search-apology{
  text-align: center;
  font-size: 3em;
  line-height: 48px;
  font-weight: bold;
  font-family: 'Hultog';
}
