// Place all the styles related to the SearchPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-mod {
  margin-left: 25vw !important;
  font-family: "Hultog";
}

.search-param {
  font-family: "Hulthog";
  font-size: 21px;
  font-weight: bold;
}

.search-text {
  font-family: "Hulthog";
}
