// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red_2: #C2132B;
$dark_red_2: #7A0C1B;
$dark_grey_2: #595959;
$mid_grey_2: #7F7F7F;
$light_grey_2: #A5A5A5;


.profile-wrapper{

}

.parchment-background{
  background-image: url('/assets/parchmentbackground6');
  border-radius: 2px;
  margin:10px;
}

.profile-summary{
  width: 100%;
  position:relative;
  display: table;
  border: 2px;
//  border-color: $light_grey_2;
//  border-style: solid;
//  padding: 5px 0px 5px 5px;
//  background-image: url('/assets/parchmentbackground6')
  border-bottom: 2px dashed rgb(210,182,123);
}

.profile-info{
  margin: 0px 0px 0px 0px !important;
  padding: 5px 0px 5px 5px;
  border-radius:2px;
}

.profile-preview{
  border-radius: 2px;
  border-bottom: 2px dashed rgb(210,182,123);
  border-top: 2px dashed rgb(210,182,123);
  margin: 10px 0px 10px 0px !important;
}

.profile-text{
//  width: 75%;
//  top:15%;
//  left:15%;
//  position: absolute;
  // left: 50%; these settings will make it resize friendly, but things will over lap
  //top: 50%;
  //transform: translate(-50%,-50%);
  float: none !important;
  display: table-cell;
  vertical-align:middle;
}

.profile-summary img, .profile-preview img{
  border-radius:25%;
  margin:10px;
  vertical-align:middle;
  display:table-cell;
  float: none !important;
}

.profile-summary p{
  margin: 5px !important;
  display:inline-block;
}

.profile-bio{
  margin-top:10px;
  //border: 2px solid $light_grey_2;
  border-radius:2px;
  overflow:hidden;
  box-sizing:border-box;
//  background-image: url('/assets/parchmentbackground4')
}

.bio-label{
  text-decoration:underline;
  text-align:center;
  font-size:2.5em;
  line-height: 45px;
  font-family: 'Breathe Fire';
}

.bio-text{
  font-size: 2.25em;
  font-family: 'Dungeon';
  line-height: 36px;
  padding: 10px 25px;
}

.profile-bio p{
  margin: 10px 15px 10px 15px !important;
}

.button-container{
  float: none !important;
  display:table-cell;
  vertical-align:middle;
}

.contact-me-button{
  background-color: rgba(130,0,0,0.65) !important;
  border: 35px solid transparent;
  border-image: url('transparentceltic2') 90 70 90 70 round;
  font-size:3em;
  line-height:40px;
  color:white;
  font-family: 'Wizard Of The Moon';
  text-shadow: 2px 2px 1px rgba(10, 10, 10, 1);
  padding-top:2px;
  transition: 0.2s;
}

.contact-me-button-small{
  background-color: rgba(130,0,0,0.65);
}

.contact-me-button:hover, .contact-me-button-small:hover, .contact-me-button:active, .contact-me-button-small:active{
  background-color: rgba(100,0,0,0.8) !important;
  box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
}

.show-more-button{
  background-color: rgba(95,158,160,0.7);
}

.show-more-button:hover, .show-more-button:active{
  background-color: rgba(54, 123, 125, 0.8);
  box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.75);
  color:white;
  text-decoration:none;
}

.profile-button{
  font-family: 'Wizard Of The Moon';
  transition:0.2s;
  line-height:35px;
  font-size: 2.25em;
  text-decoration:none;
  color: white;
  text-shadow: 2px 2px 1px rgba(10, 10, 10, 1);
  text-align: center;
  cursor:pointer;
  border: 30px solid transparent;
  border-image: url('/assets/simplecelticborder2') 45 round;
}

.profile-button:hover, .profile-button:active {
  box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.65) !important;
}

.more-users-box{
  position: relative;
  margin-top: 10px;
  color:black;
  box-sizing:border-box;
  border-left: 2px dashed rgb(210,182,123);
  padding-left: 10px;
}

#more-users-label{
  font-size: 2.5em;
  line-height: 40px;
}

.more-users-box a{
  color: rgb(150,0,0);
  text-decoration: none;
}

.more-users-box a:hover{
  color: rgb(110,0,0);
  text-decoration: none;
}

.more-users-box div{
  padding: 5px 15px 5px 15px;
  margin: 0px;
  overflow: hidden !important;
  font-size: 1.25em;
  line-height: 24px;
}

.ending-buttons{
  margin:10px;
}

.profile-excerpt{
  vertical-align:middle;
  display:table-cell;
  font-size:1em;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
  float: none !important;
}

.username-preview{
  font-size: 3.5em !important;
  font-family: "Mysticora" !important;
  line-height: 45px;
}

.ruleset-selection-container{
  display: table;
  background-image: url('parchmentbackground6');
  margin: 10px auto;
  font-family: 'Hultog';
  width: 98%;
}

.ruleset-label{
  font-size: 2.5em;
  line-height: 35px;
}

#ruleset-header{
  font-size: 4em;
}

.tutorial-section-label{
  text-align: center;
  font-size: 2.5em;
  color: rgb(110,0,0);
  line-height: 50px;
  margin-top: 10px;
}

.checkbox-label{
  float: right;
  font-size: 1.5em;
  color: rgb(110,0,0);
  line-height: 40px;
  margin-bottom: 0px;
  display: inline-block !important;
}

.checkbox{
  float: left;
  display: inline-block !important;
  margin-top: 11px;
}

.inline{
  display: inline-block;
}

.tutorial-explanation-text{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  line-height: 24px;
}

.tutorial-opening{
  font-size: 5em;
  font-family: 'Dungeon';
  line-height: 50px;
  text-align: center;
  color: white;
}

#tutorial-label{
  margin-top: 60px;
  text-align: center;
}

.ruleset-box{
  border: 1px solid $light_grey_2;
  border-radius: 10px;
  padding:5px;
  margin:5px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.campaign-type-box{
  margin: 0px 20px 0px 20px;
  padding: 0px;
  font-family: 'Hultog';
  font-size: 1.5em;
}

.ruleset-picture{
  float: left;
  display:table-cell;
}

.ruleset-text{
  float: right;
  vertical-align:middle;
  display: table-cell;
  text-align: left;
  padding-left: 60px;
  padding-right: 20px;
  line-height: 24px;
}

.tutorial-parchment-background{
  background-image: url('parchmentbackground4');
}

.bio-container{
  font-family: 'Hultog';
  font-size: 1.5em;
  margin: 0px 20px 0px 20px;
}

.location-container{
  font-family: 'Hultog';
  font-size: 1.5em;
  margin: 0px 20px 0px 20px;
}

.location-container label{
  display: inline-block;
}

#online-check{
  text-align: center;
}

#dm_profile_bio{
  height: 150px;
  width: 500px;
  display: block;
  margin: auto;
}

#player_profile_bio{
  height: 150px;
  width: 500px;
  display: block;
  margin: auto;
}

.profile-submit-container{
  font-size: 2em;
  display: block;
  margin: 30px auto;
  width: 23%;
}

.info-label{
  font-family: 'Breathe Fire';
  font-size: 2em;
  color: rgba(110,0,0,1);
}

.info{
  font-family: 'Mysticora';
  font-size: 2em;
}


.more-users-box a{
  color: rgb(150,0,0);
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.more-users-box a:hover{
  color: rgb(110,0,0);
  text-decoration: none;
}

.signup-container{
  background-image: url('/assets/parchment-scroll');
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 35px;
  font-family: 'Dungeon';
}

.signup-container:first-child{
  text-align:center;
}

#signup-page-label{
  padding-top: 70px;
}

.login-reminder{
  font-size: 4em;
  color:black;
}

.signup-form-container{
  margin-top: 20px;
  font-size: 2.5em;
  color:black;
  margin-left: -246px;
}

.signup-field{
  width: 45%;
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-label{
  display: inline-block !important;
  float:right;
  padding-left: 546px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.radio-buttons-container{
  text-align: left !important;
}

.button-field{
  text-align: left !important;
  padding-left: 246px;
}

#signup-avatar-label{
  padding-left: 246px;
}

#signup-avatar-field{
  padding-left: 287px;
  font-size: 0.5em;
  font-family: sans-serif;
}

#familiarity{
  padding-left: 0px;
}

#distance-label{
  padding-top: 0px;
  padding-bottom: 0px;
}

#signup{
  padding-left: 0px;
  padding-top: 28px;
}

#signup-button{
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
  padding-top: 5px;
}

.familiarity-text-container{
  width: 13.6% !important;
}

.signup-login-submit{
  background-color: rgba(110,0,0,0.8);
  font-size: 1.75em;
  font-family: 'Dungeon';
}

.signup-login-submit:hover{
  background-color: rgba(130,0,0,0.9);
}

.signup-submit-container{
  padding-left: 830px;
}

.login-container{
  background-image: url('/assets/parchment-scroll2');
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 35px;
  font-family: 'Dungeon';
  text-align: center;
  width: 30%;
  height: 550px;
}

.login-form-container{
  font-size: 2.5em;
  margin-top: 30px;
}

#login-submit{
  border-width: 20px !important;
  font-size: 2em;
  padding: 10px;
}

#login-label{
  padding-top: 70px;
}


// now starting user dashboard

.sidebar-column{
  min-height: 619px;
  max-height: 100vh;
  min-width: 250px;
  width: 20%;
  float: left;
  padding: 0px;
  clear: none;
  border-right: 2px solid rgb(210,182,123);
  z-index: 1;
  background-image: url('parchmentbackground5');
}

.row-top{
  margin-top: -25px;
  min-width: 1349px;
  width: 100%;
  min-height: 235px;
  max-height: 33.3vh;
  border-bottom: 1px solid rgb(210,182,123);
}

.row-middle{
  width: 100%;
  min-width: 1349px;
  min-height: 192px;
  max-height: 33.3vh;
  border-bottom: 1px solid rgb(210,182,123);
}

.row-bottom{
  width: 100%;
  min-width: 1349px;
  min-height: 192px;
  max-height: 33.4vh;
}

.dashboard-avatar{
  margin: auto;
  border-radius: 50%;
  transition: 0.4s;
  display: block;
}

.dashboard-avatar:hover{
  border-radius: 0;
}

#user-avatar{
  padding-top: 30px;
}

#username-label{
  font-size: 3.5em;
  text-align: center;
  line-height: 50px;
}

.chatroom-preview-container{
  display: inline-block;
  width: 68%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 192px;
  max-height: 33.3vh;
}

#top-chat-container{
  min-height: 235px;
}

.preview{
  max-width: 200px;
  max-height: 200px;
  font-size: 2em;
  font-family: 'Mysticora';
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}

.chatroom-preview-container div{
  margin: 0px 18px 0px 18px;
}

.preview-name{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  white-space: normal !important;
  text-align: center;
  max-width: 150px;
  display: block;
  margin: auto;
  margin-top: 5px;
  max-height: 60px;
}


.chatroom-new-container{
  display: inline-block;
}

.chatroom-new-container img{
  vertical-align: 0px !important;
}

#new-chats{
  width: 80%;
}

.recommendations-container{
  display: inline-block;
  width: 80%;
  text-align: center;
  font-family: 'Mysticora';
  line-height: 35px;
  color: rgb(150,0,0);
}

.recommendations-container a{
  margin: 0px 50px 0px 50px;
}

.row-label{
  font-family: "Wizard of the Moon";
  font-size: 3em;
  line-height: 40px;
  color: rgb(200,0,0);
  text-decoration: underline;
  padding-left: 10px;
  text-align: left;
}

#first-row-label{
  padding-top: 20px;
}

.dashboard-container{
  margin-top: -25px;
  background-image: url('parchmentbackground6');
}

.dashboard-container a{
  color: rgb(150,0,0);
  text-decoration: none;
}

.dashboard-container a:hover{
  color: rgb(110,0,0);
  text-decoration: none;
}

.half-button{
  width: 49%;
  font-size: 1.5em;
  display: inline-block;
}

.profile-label{
  color: rgb(120,0,0);
  font-size: 3em;
  text-align: center;
  line-height: 48px;
  margin: 10px auto 0px auto;
  font-family: 'Dungeon';
}

#recommendations-header{
  margin-left: 18px;
}

.dashboard-buttons{
  border-width: 20px;
}

#profile-friends-button{
  background-color: rgb(13, 13, 89);
  margin-top: 10px;
  width: 50%;
  border-width: 20px;
}

.centered-button{
  display: block;
  margin: auto;
}
