// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red_2: #C2132B;
$dark_red_2: #7A0C1B;
$dark_grey_2: #595959;
$mid_grey_2: #7F7F7F;
$light_grey_2: #A5A5A5;

.profile-summary{
  width: 100%;
  position:relative;
  display: table;
  border: 2px;
  border-color: $light_grey_2;
  border-style: solid;
  padding: 5px 0px 5px 5px;
}

.profile-info{
  margin: 40px 0px 0px 0px !important;
  padding: 5px 0px 5px 5px;
  border-radius:5px;
}

.profile-preview{
  border-radius: 5px;
  border: 1px solid $light_grey_2;
  margin: 10px 0px 10px 0px !important;
}

.profile-text{
//  width: 75%;
//  top:15%;
//  left:15%;
//  position: absolute;
  // left: 50%; these settings will make it resize friendly, but things will over lap
  //top: 50%;
  //transform: translate(-50%,-50%);
  float: none !important;
  display: table-cell;
  vertical-align:middle;
}

.profile-summary img, .profile-preview img{
  border-radius:25%;
  margin:10px;
  vertical-align:middle;
  display:table-cell;
  float: none !important;
}

.profile-summary p{
  font-size:1.25em;
  margin: 10px !important;
}

.profile-bio{
  margin-top:10px;
  border: 2px solid $light_grey_2;
  border-radius:5px;
  overflow:hidden;
  box-sizing:border-box;
}

.profile-bio p{
  font-size: 1em;
  margin: 10px 15px 10px 15px !important;
}

.button-container{
  float: none !important;
  display:table-cell;
  vertical-align:middle;
}

.contact-me-button{
  background-color: #4F79FF !important;
  border-color: #0066FF !important;
  font-size:3em;
}

.contact-me-button-small{
  background-color: #4F79FF !important;
  border-color: #0066FF !important;
  font-size:1.5em;
}

.contact-me-button:hover, .contact-me-button-small:hover, .contact-me-button:active, .contact-me-button-small:active{
  background-color: #000091 !important;
  border-color: #001388 !important;
}

.show-more-button{
  font-size: 1.5em;
  background-color: #dc252f !important;
  border-color: #cf252e !important;
}

.show-more-button:hover, .show-more-button:active{
  background-color: #b3001b !important;
  border-color: #9f001b !important;
}

.profile-button{
  color: white;
  text-shadow: 0px 0px 2px #000000;
  text-align: center;
  cursor:pointer;
  border-radius: 5px !important;
  border-style: ridge !important;
  border-width: 7px !important;
  transition: 0.2s !important;
  opacity:0.8 !important;
}

.profile-button:hover, .profile-button:active {
  //border-style: groove !important;
  opacity: 1 !important;
  box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.65) !important;
}

.more-users-box{
  position: relative;
  margin-top: 10px;
  font-size:1.5em;
  color:black;
  border: 2px solid $light_grey_2;
  border-radius:5px;
  box-sizing:border-box;
}

.ending-buttons{
  margin:10px;
}

.profile-excerpt{
  vertical-align:middle;
  display:table-cell;
  font-size:1em;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
  float: none !important;
}

.username-preview{
  font-size: 2em;
  padding: 0px !important;
  margin: 10px 0px 10px 0px !important;
  font-weight: bold;
}

.ruleset-selection-container{
  display: table;
}

.ruleset-box{
  border: 1px solid $light_grey_2;
  border-radius: 10px;
  padding:10px;
  margin:10px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.ruleset-picture{
  float: left;
  display:table-cell;
}

.ruleset-text{
  float: right;
  vertical-align:middle;
  display: table-cell;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}
