<h1>Editing Player Profile</h1>
<%= render 'form', player_profile: @player_profile %>

<%= link_to 'Show', user_player_profiles_path(@user, @player_profile) %> |
<%= link_to 'Back', user_player_profiles_path %>
